.top-container {
    display: flex;
    justify-content: space-around;
}
#line-graph, #bar-chart {
    flex: 1; 
}
#bar_selector {
    margin-top: 5px;
    margin-left: 850px; 
}
#line_selector {
    margin-top: 5px;
    margin-left: 100px; 
}
